/* FUNDO */
.bg-zero {
    background: linear-gradient(135deg, #0b1d3a, #000814);
    min-height: 100vh;
    color: #e0e6f0;
}

/* TÍTULO */
.titulo {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #ffffff;
}

.card {
    background: rgba(20, 40, 80, 0.7) !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255,255,255,0.05) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px #0006 !important;
    color: white !important;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px #4a73ff55 !important;
}

.card h3 {
    color: #ffffff !important;
}

.card p {
    color: #a8c1ff !important;
}

h2 {
    color: white !important;
    letter-spacing: 2px;
}

/* CARD */
.card-zero {
    background: rgba(20, 40, 80, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px #0006;
    border: 1px solid rgba(255,255,255,0.05);
    transition: 0.3s;
}

.card-zero:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px #4a73ff55;
}

/* TEXTOS */
.card-zero h3 {
    color: #ffffff;
}

.card-zero p {
    color: #a8c1ff;
}

/* BOTÃO */
.btn-zero {
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 0 10px #0005;
}

.btn-zero:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px currentColor;
}

.btn {
    border-radius: 30px !important;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 0 10px #0005;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px currentColor;
}

body {
    background: linear-gradient(135deg, #0b1d3a, #000814) !important;
    color: #e0e6f0 !important;
}